@model IEnumerable<RepresentanteMVC.Models.Pedidos>
@{
    ViewData["Title"] = "Pedidos";
}

<div class="container" style="margin-left:50px;">
    <h1 class="text-center">@ViewData["title"]</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Id)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Data)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Valor)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.PercentualComissao)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Representante.RazaoSocial)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Empresa.RazaoSocial)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Loja.RazaoSocial)</th>
                <th>@Html.DisplayNameFor(pedidos => pedidos.Status)</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var pedidos in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(model => pedidos.Id)</td>
                    <td>@Html.DisplayFor(model => pedidos.Data)</td>
                    <td>@string.Format("{0:N2}", pedidos.Valor)</td>
                    <td>@($"{pedidos.PercentualComissao:N2} %")</td>
                    <td>@Html.DisplayFor(model => pedidos.PercentualComissao)</td>
                    <td>@Html.DisplayFor(model => pedidos.Representante.RazaoSocial)</td>
                    <td>@Html.DisplayFor(model => pedidos.Empresa.RazaoSocial)</td>
                    <td>@Html.DisplayFor(model => pedidos.Loja.RazaoSocial)</td>
                    <td>@Html.DisplayFor(model => pedidos.Status)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@pedidos.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@pedidos.Id" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja inativar o pedido?')">Excluir</a>
                    </td>
                </tr>
                }
        </tbody>
    </table>

    <p>
        <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
    </p>
</div>