@model IEnumerable<RepresentanteMVC.Models.Loja>
@{
    ViewData["Title"] = "Lojas";
}
<div class="container" style="margin-left:50px;">
    <h1 class="text-center">@ViewData["title"]</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Id)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.RazaoSocial)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Cnpj)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.InscEstadual)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Fone)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Email)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Cep)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Rua)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Numero)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Bairro)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Cidade)</th>
                <th class="text-center">@Html.DisplayNameFor(loja => loja.Status)</th>
                <th class="text-center">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loja in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => loja.Id)</td>
                    <td>@Html.DisplayFor(model => loja.RazaoSocial)</td>
                    <td>@Html.DisplayFor(model => loja.Cnpj)</td>
                    <td>@Html.DisplayFor(model => loja.InscEstadual)</td>
                    <td>@Html.DisplayFor(model => loja.Fone)</td>
                    <td>@Html.DisplayFor(model => loja.Email)</td>
                    <td>@Html.DisplayFor(model => loja.Cep)</td>
                    <td>@Html.DisplayFor(model => loja.Rua)</td>
                    <td>@Html.DisplayFor(model => loja.Numero)</td>
                    <td>@Html.DisplayFor(model => loja.Bairro)</td>
                    <td>@Html.DisplayFor(model => loja.Cidade)</td>
                    <td>@Html.DisplayFor(model => loja.Status)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@loja.Id" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@loja.Id" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir a loja?')">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
    </p>
</div>
